* {
  font-family: monospace;
}
body {
  margin: 0;
  line-height: 1.28;
}
#navwrapper {
  width: 100%;
  height: 82px;
  background-color: #000000;
}
#contentwrapper {
  width: 100%;
  height: 606px;
  background-color: #edf0f5;
}

#content {
  margin: 0 auto;
  width:980px;
  padding-top:20px;
  align-content: center;
}

.logowrapper {
  display: block;
  padding: 30px 0;
}

#navbar {
  margin-left: 10%;
  width:980px;
  height:59px;
}


h1 {
  font-size: 30px;
  letter-spacing:0.05px;
  margin: 0;
  color:gray;
}

.enterance_text {
  font-size: 40px;
  color: black;
}

.add_new_task {
  display: inline-block;
  margin-left: 10%;
}

input[type=text]{
  width: 600px;
  height: 25px;
  border-radius: 5px;
}

input[type=button]{
  width: 50px;
  background-color: #ADD8E6;
  color:white;
  border-radius: 3px;
  height: 28px;
}

#item {
  padding-left: 10px;
  padding-bottom: 5px;
  width: 650px;
  height: 50px;
  margin-top: 10px;
  position: relative;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #FFFFFF;
  display: inline-block;
  margin-left: 10%;
}

#item img {
    height: 25px;
    width: 25px;
    padding-right: 10px;
    padding-bottom: 7px;
    position: absolute;
    right: 0;
    bottom: 5px;
}

#item p {
  padding-left: 10px;
  display: inline-block;
  font-size: 20px;
}
